<div class="container-fluid" style="margin-top:20px">
    <div class="col-sm-6">
        <div class="my-card-wrapper">
            <div class="my-card-header">
                <span>Contact us!</span>
            </div>
            <div class="my-card-body">
                <p class="font-weight-normal">Shoutout for your restaurant? Missing options? New idea?</p>
                <p class="font-weight-light">You find our idea revolutionary, but still have got an idea to improve? Share it with us today! Send us an email describing your business. We will respond in no time...</p>
            </div>
        </div>
    </div>
</div>