@import '~src/sass/variables';

.profile-pic {
    height: 160px;
    margin-top: 20px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    border: solid;
    border-color: gray;;
    border-width: 1px;
}
