<div class="container-fluid" style="margin-top:20px">
  <div class="col-sm-6">
    <div class="my-card-wrapper">
      <div class="my-card-header">
        <span>Sticking to our motto!</span>
      </div>
      <div class="my-card-body">
        <p class="font-weight-normal">Do not waste time on choosing food for everyday</p>
        <p class="font-weight-light">According to our quick consumer research, people waste around 50 minutes a week just to find out what to eat! Also making decisions is very tiring and in the modern, racing world, many people can not have the luxury to waste energy on this regular task!</p>
      </div>
    </div>
  </div>
</div>