
.bg_color {
  background-color: #eef8f7;
}
.navbarFF{
  background-color: #eef8f7;
}

.profile-text {
  font-size: 24px;
  color: #000000;
  vertical-align: middle;
}

.profile-div {
  margin: 2px;
  padding-top: 18px;
  border: 0px;
  float: right;
}
