@import "~src/sass/variables";

.footer {
  background-color: $iBackgroundGreyDark;
  color: white;
  height: 20px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  font-size: 12px;
}
