<div class="my-card-wrapper" style="margin-top: 10px;">
    <div class="my-card-header">Preferences</div>
    <div class="my-card-body">
        <div class="col-sm-6">
            <ul class="pref-container-table">
                <li class="font-weight-normal">General</li>
                <li class="pref-container-table-li">
                    <span class="text-small font-weight-light">In place</span>
                    <mat-slider
                        class="example-margin"
                        [max]="max"
                        [min]="min"
                        [step]="step"
                        [thumbLabel]="thumbLabel"
                        [tickInterval]="getSliderTickInterval()"
                        [(ngModel)]="value_restaurantorder"
                        style="outline:300px;">
                    </mat-slider>
                    <span class="text-small font-weight-light">Takeaway</span>
                </li>
                <li class="pref-container-table-li">
                    <span class="text-small font-weight-light">Cash</span>
                    <mat-slider
                        class="example-margin"
                        [max]="max"
                        [min]="min"
                        [step]="step"
                        [thumbLabel]="thumbLabel"
                        [tickInterval]="getSliderTickInterval()"
                        [(ngModel)]="value_cashcard"
                        style="outline:300px;">
                    </mat-slider>
                    <span class="text-small font-weight-light">Card</span>
                </li>
                <li class="pref-container-table-li">
                    <span class="text-small font-weight-light">Fastfood</span>
                    <mat-slider
                        class="example-margin"
                        [max]="max"
                        [min]="min"
                        [step]="step"
                        [thumbLabel]="thumbLabel"
                        [tickInterval]="getSliderTickInterval()"
                        [(ngModel)]="value_fastfoodfinedine"
                        style="outline:300px;">
                    </mat-slider>
                    <span class="text-small font-weight-light">Finedine</span>
                </li>
                <li class="font-weight-normal">Diet</li>
                <li class="pref-container-table-li" style="margin-left:30px">
                    <div class="row">
                        <div class="form-check" style="margin:6px; margin-left: 10px;">
                            <input class="form-check-input" type="checkbox" value="" [(ngModel)]="vegetarian">
                            <label class="form-check-label" for="defaultCheck1">
                                Vegetarian
                            </label>
                        </div>
                        <div class="form-check" style="margin:6px; margin-left: 10px;">
                            <input class="form-check-input" type="checkbox" value="" [(ngModel)]="vegan">
                            <label class="form-check-label" for="defaultCheck1">
                                Vegan
                            </label>
                        </div>
                        <div class="form-check" style="margin:6px; margin-left: 10px;">
                            <input class="form-check-input" type="checkbox" value="" [(ngModel)]="paleo">
                            <label class="form-check-label" for="defaultCheck1">
                                Paleo
                            </label>
                        </div>
                    </div>
                </li>
                <li class="font-weight-normal">Allergies</li>
                <li class="pref-container-table-li" style="margin-left:30px">
                    <div class="row">
                        <div class="form-check" style="margin:6px; margin-left: 10px;">
                            <input class="form-check-input" type="checkbox" value="" [(ngModel)]="lactose">
                            <label class="form-check-label" for="defaultCheck1">
                                Lactose
                            </label>
                        </div>
                        <div class="form-check" style="margin:6px; margin-left: 10px;">
                            <input class="form-check-input" type="checkbox" value="" [(ngModel)]="gluten">
                            <label class="form-check-label" for="defaultCheck1">
                                Gluten
                            </label>
                        </div>
                        <div class="form-check" style="margin:6px; margin-left: 10px;">
                            <input class="form-check-input" type="checkbox" value="" [(ngModel)]="nuts">
                            <label class="form-check-label" for="defaultCheck1">
                                Nuts
                            </label>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <span class="pull-left pull-bottom">
            <button class="btn btn-success" id="basic" mat-button (click)="onSubmit()">
                Save
            </button>
        </span>
    </div>
</div>
