<div class="my-card-wrapper" style="margin-top: 10px;">
    <div class="my-card-header">Preferences</div>
    <div class="my-card-body">
        Restaurant:
        <span class="text-small">{{min}}</span>
        <mat-slider
            class="example-margin"
            [max]="max"
            [min]="min"
            [step]="step"
            [thumbLabel]="thumbLabel"
            [tickInterval]="getSliderTickInterval()"
            [(ngModel)]="value"
            style="outline:300px">
        </mat-slider>
        <span class="text-small">{{max}}</span>
    </div>
</div>