
$iHeaderBackgroundColor: #eef8f7;

$iBackgroundGreyLight: #6B6E70;
$iBackgroundGreyDark: #474B4F;
$iBackgroundBlack: #222629;
$iBackgroundGreenLight: #16DD0B;
$iBackgroundGreenDark: #16DD0B;

$iBackgroundBlueDark: #05386B;
$iBackgroundBlueLight: #379683;
$iBackgroundBGreenDark: #5CDB95;
$iBackgroundBGreenLight: #8EE4AF;
$iBackgroundBLight: #EDF5E1;
