<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li><a routerLink="/dashboard">Home</a></li>
    <li><a routerLink="/goals">Our Goal</a></li>
    <li><a routerLink="/business">For Businesses</a></li>
    <li><a routerLink="/carrier">Carrier</a></li>
    <li><a routerLink="/faq">FAQ</a></li>
    <div style="margin-top: 5px">
      <a href="#" style="margin:10px">
        <i class="fa fa-facebook-official" style="font-size:32px"></i>
      </a>
      <a href="#" style="margin:10px">
        <i class="fa fa-instagram" style="font-size:32px"></i>
      </a>
      <a href="#" style="margin:10px">
        <i class="fa fa-youtube-play" style="font-size:32px"></i>
      </a>
    </div>
  </ul>
</div>
