<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li><a href="#">Home</a></li>
    <li><a href="#">Our Goal</a></li>
    <li><a href="#">For Businesses</a></li>
    <li><a href="#">Carrier</a></li>
    <li><a href="#">FAQ</a></li>
    <span>
      <a href="#">
        <i class="fa fa-facebook-official" style="font-size:24px"></i>
      </a>
      <a href="#">
        <i class="fa fa-instagram" style="font-size:24px"></i>
      </a>
      <a href="#">
        <i class="fa fa-youtube-play" style="font-size:24px"></i>
      </a>
    </span>
  </ul>
</div>
