@import '~src/sass/variables';

#item-calendar {
  grid-area: calendar;
  overflow: hidden;
  z-index: 1;
  margin: -25px;
  margin-right: -50px;
  margin-top: -50px;
  padding: 50px;
  position: relative;
}

#item-details {
  grid-area: details;
  overflow: hidden;
  margin: -25px;
  margin-left: 0;
  padding: 50px;
  z-index: 1;
  position: relative;
}

#dashboard-container {
  overflow: hidden;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 500px auto;
  grid-template-rows: auto;
  grid-template-areas:
        'calendar details'
        'calendar details';
}
