<div class="container-fluid" style="margin-top:20px">
    <div class="col-sm-6">
        <div class="my-card-wrapper">
            <div class="my-card-header">
                <span>We are hiring!</span>
            </div>
            <div class="my-card-body">
                <p class="font-weight-normal">Want to be part of a dynamic team?</p>
                <p class="font-weight-light">If you like our idea, and would like to further improve it, join us! </p>
            </div>
        </div>
    </div>
</div>