<div class="container-fluid" style="margin-top:20px">
    <div class="col-sm-6">
        <div class="my-card-wrapper">
            <div class="my-card-header">
                <span>Frequently asked questions!</span>
            </div>
            <div class="my-card-body">
                <p class="font-weight-normal">Can I add a restaurant?</p>
                <p class="font-weight-light">In our current release you cannot, but don't be sad! Next release is on the way with plenty of new versions!</p>
            </div>
        </div>
    </div>
</div>